<% if notice %>
<div class="message success"><p><%= notice %></p></div>
<% end %>

<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2>Organizations</h2>
	</div> <!-- .block_head -->
	
	<div class="block_content">
		
		<table>
		  <tr>
		    <th>Name</th>
		    <th>Manager</th>
		  </tr>
		<% @ous.each do |ou| %>
		  <tr>
		    <td><%= link_to ou.name, ou %></td>
			<% ou.managers.each do |manager| %>
				<td><%= link_to manager.name, manager %></td>
			<% end %>
		  </tr>
		<% end %>
		</table>

		<br />

		<%= link_to 'New Organization', new_ou_path %>
		
	</div> <!-- .block_content -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div> <!-- .block -->
