<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3>Impersonate</h3>
</div>
<div class="modal-body">
  <form style="width: 100%;">
    <div style="width: 500px; margin: 0 auto;">
      <b>Login ID</b><br />
      <input type="text" class="text medium" id="loginid" /> <span id="loginid_status"></span><br />
      <br />
    </div>
  </form>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  <a href="#" class="btn btn-primary" id="save">Impersonate</a>
</div>
