<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3>Import Person</h3>
</div>
<div class="modal-body">
  <form class="form-search" style="text-align: center;">
    <input type="text" id="term" class="input-xlarge search-query" autocomplete="off" disabled />
    <button type="submit" class="btn" disabled>Search</button>
  </form>

  <table class="table table-striped" id="results">
    <thead>
      <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>Login ID</th>
        <th><!--<button class="btn btn-primary">Import</button>--></th>
      </tr>
    </thead>
    <tbody><tr><td colspan="4" style="text-align: center;"><h4>Loading Results ...</h4></td></tr></tbody>
  </table>
  </div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>
