bin/
.bundle
db/*.sqlite3
log/*.log
tmp/
.DS_Store
public/.DS_Store
config/database.yml
config/api_keys.yml
config/ldap.yml
sync/config/active_directory.yml
config/secret_token.yml
.sass-cache/
public/assets/
.rvmrc
public/system
vendor/bundle/
vendor/cache/
.powenv
.ruby-version

