.bundle
db/*.sqlite3
log/
tmp/
.DS_Store
public/.DS_Store
config/api_keys.yml
config/general.yml
config/newrelic.yml
config/secrets.yml
config/secret_token.yml
sync/config/active_directory.yml
sync/config/sysaid.yml
sync/config/slack.yml
docker-web-secrets.env
.sass-cache/
public/assets/
.rvmrc
public/system
vendor/bundle/
vendor/cache/
.powenv
.ruby-version
.byebug_history
.vscode
.byebug_history
.idea
node_modules/
.env
log/activity
.rbenv-vars*
db/data.yml
package-lock.json
cypress.env.json
cypress/videos
*.csv
