<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2>Editing <%= @person.preferred_name %></h2>
		
		<ul class="tabs">
			<li><%= link_to 'Overview', @person %></li>
			<li><%= link_to 'Revisions', person_path(@person, :anchor => "revisions_tab") %></li>
			<li><a href="#">Edit</a></li>
		</ul>
	</div> <!-- .block_head -->
	
	<div class="block_content">
		<%= render 'form' %>
	</div> <!-- .block_content -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div> <!-- .block -->
