<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2>Create New User</h2>
	</div> <!-- .block_head -->
	
	<div class="block_content">
	  <h3>Fetch Details from LDAP</h3>
	  <form>
  	  <p>
  	    <input type="text" class="text" /> <input type="submit" class="submit mid" value="Fetch" />
  	  </p>
	  </form>
	  <hr />
		<%= render 'basics_form' %>
	</div> <!-- .block_content -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div> <!-- .block -->
