<p id="notice"><%= notice %></p>

<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2>Import User from LDAP</h2>
	</div> <!-- .block_head -->
	
	<div class="block_content" id="overview_tab">
		<%= form_tag(:remote => true) do |f| %>
		<p>
			<label>First Name, Last Name, or Kerberos ID:</label><br />
			<input type="text" class="text small" />
		</p>
		
		<p>
			<input type="submit" class="submit mid" value="Search LDAP" />
		</p>
		<% end %>
		
	</div> <!-- .block_content -->

	<div class="bendl"></div>
	<div class="bendr"></div>
</div> <!-- .block -->
