<div class="modal" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= @person.preferred_name %></h3>
  </div>
  <div class="modal-body">
    <%= render 'details' %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>

<!--<ul class="tabs">
	<li><a href="#overview_tab">Overview</a></li>
	<li><a href="#revisions_tab">Revisions</a></li>
	<li><%= link_to 'Edit', edit_person_path(@person) %></li>
</ul>-->
