<label><%= f.object.descriptor %></label>
<%= f.text_field :ad_path, :class => "span6", :size => 50, "data-default-text" => "Path not set", :id => "application_ad_path" %> <img id="application_ad_path_check_status" style="display: none;" />
