<tr class="fields">
  <td><%= f.text_field :token, :size => 20 %></td>
  <td><%= f.check_box :default %></td>
  <td><%= f.text_field :descriptor, :size => 15 %></td>
  <td><%= link_to_remove_fields "Remove", f %></td>
</tr>
