<% if notice %>
<div class="message success"><p><%= notice %></p></div>
<% end %>

<div class="block withsidebar">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2>Editing: <%= @application.name %></h2>
		
		<ul class="tabs">
			<li><%= link_to "Overview", @application %></li>
			<li><a href="#">Edit</a></li>
		</ul>
	</div> <!-- .block_head -->
	
	<div class="block_content">
		<div class="sidebar">
			<ul class="sidemenu">
				<li><a href="#sb1">Basics</a></li>
				<li><a href="#sb2">Roles</a></li>
			</ul>
			
			<p><strong>Some notification text.</strong> Donec hendrerit porttitor felis, id semper eros lobortis sed. Class aptent taciti sociosqu ad litora.</p>
		</div>		<!-- .sidebar ends -->
		
		<div class="sidebar_content" id="sb1">
			<%= render 'form' %>
		</div>
		<div class="sidebar_content" id="sb2">
		</div>
	</div> <!-- .block_content -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div> <!-- .block -->
