<div id="applications"></div>

<script type="text/json" id="bootstrap">
  {
    "favorites": <%= current_user.manageable_ids.to_json %>,
    "applications": <%= current_user.manageable_applications.to_json %>
  }
</script>

<%= content_for :javascript do -%>
  <script type="text/javascript">
    $(function () {
      var div = $('<div></div>');
      div.html($('#bootstrap').text());
      var data = JSON.parse(div.text());

      DssRm.initialize(data);
    });
  </script>
<% end %>
