<div id="applications"></div>

<div id="loading-backdrop" />

<!-- current_user_madin is merely for UI purposes - backend performs its own checks -->
<script type="text/json" id="bootstrap">
  {
    "current_user"      : <%= current_user.to_json %>,
    "applications"      : <%= @applications.to_json %>,
    "current_user_admin": <%= current_user.is_rm_admin? %>
  }
</script>

<%= content_for :javascript do -%>
  <script type="text/javascript">
    $(function () {
      var div = $('<div></div>');
      div.html($('#bootstrap').text());
      var data = JSON.parse(div.text());

      DssRm.initialize(data);
    });
  </script>
<% end %>
