<div id="applications"></div>

<!-- current_user_admin is merely for UI purposes - backend performs its own checks -->
<script type="text/json" id="bootstrap">
  {
    <% cache(cache_key_for_current_user) do %>
    "current_user"      : <%= current_user.to_json %>,
    <% end %>
    <% cache(cache_key_for_applications) do %>
    "applications"      : <%= @applications.to_json %>,
    <% end %>
    "current_user_admin": <%= has_role?(:admin) %>
  }
</script>

<%= content_for :javascript do -%>
  <script type="text/javascript">
    $(function () {
      var div = $('<div></div>');
      div.html($('#bootstrap').text());
      var data = JSON.parse(div.text());

      DssRm.initialize(data);
    });
  </script>
<% end %>
