<%= javascript_include_tag "controllers/" + params[:controller] %>
<%= javascript_include_tag "cards" %>

<script id="tmpl-pin" type="text/template">
  <li data-uid="{{= entity.uid }}"><i class="icon-remove"></i> <i class="icon-search"></i>{{= entity.name }}</li>
</script>

<div class="row-fluid">
  <div class="span9" id="left">

    <form class="form-search">
      <%= content_tag :input, nil, {:class => "input-xxlarge search-query", :type => "text", :id => "search_templates", :placeholder => "Search templates…" } %>
    </form>

    <div id="cards">
      <div id="cards-left" class="span4"></div>
      <div id="cards-right" class="span4"></div>
    </div>

  </div> <!-- /.span9 -->
  <div class="span3" id="right">

    <form class="form-search">
      <input id="search_entities" placeholder="Search people and groups…" type="text" class="input-large search-query">
    </form>

	  <ul class="pins" id="entity_list"></ul>
  </div> <!-- /.span3 -->
</div>

<div id="modal_container"></div>
