<h1><%= @group.name %></h1>

<p>
<% if @group.description.nil? %>
  <i>No description given</i>
<% else %>
  <%= @group.description %>
<% end %><br />
</p>

<p>
<h3>Owners</h3>
<% for p in @group.owners %>
	<%= link_to p.name, p %>
  <% unless p == @group.owners.last %>, <% end %>
<% end %>
</p>

<p>
<h3>Members</h3>
<i><% for p in @group.members %>
	<%= link_to p.name, p %>
<% end %>
<% if @group.members.length == 0 %>
	No members assigned
<% end %></i>
</p>
