		<p>
		  <b>Name:</b>
		  <%= @group.name %>
		</p>

		<p>
		  <b>Description:</b>
		  <% if @group.description.nil? %>
		    <i>None</i>
		  <% else %>
		    <%= @group.description %>
		  <% end %>
		</p>

		<h2>Owners</h2>
		<ul>
			<% for p in @group.owners %>
				<li><%= link_to p.name, p %></li>
			<% end %>
			<% if @group.owners.length == 0 %>
				<li><i>No owners assigned</i></li>
			<% end %>
		</ul>

		<h2>Members</h2>
		<ul>
			<% for p in @group.members %>
				<li><%= link_to p.name, p %></li>
			<% end %>
			<% if @group.members.length == 0 %>
				<li><i>No members assigned</i></li>
			<% end %>
		</ul>
