<% if notice %>
<div class="message success"><p><%= notice %></p></div>
<% end %>

<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2>New Group</h2>
	</div> <!-- .block_head -->
	
	<div class="block_content">
		<%= render 'form' %>
	</div> <!-- .block_content -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div> <!-- .block -->
