<div class="row-fluid span8" style="position: fixed; padding-top: 10px; padding-bottom: 2px; background-color: #fff;">
  <input class="input-xxlarge search-query" type="text" id="search_applications" placeholder="Filter applications…" autocomplete="off" />
  <span id="clear_search_applications"><i class="icon-remove"></i></span>
</div>

<div class="row-fluid" style="padding-top: 45px;">
  <div id="cards" />
</div>
