<div class="card-title" rel="tooltip" title="tooltip"><a href="#" class="application-link"><i class="icon-search details" rel="tooltip" title="View details" /></a><h4 id="application-name">name</h4><h6 id="application-owners">Owned by Somebody Else</h6></div>
<div class="card-content">
  <div class="roles"></div>
</div>
