<td><input type="text" name="name" class="input-small" size="11" /></td>
<td><input type="text" name="token" class="input-mini" size="5" /></td>
<td><input type="text" name="description" class="input-large" size="10" id="role-description" /></td>
<td><button class="btn btn-danger" id="remove_role"><i class="icon-remove icon-white"></i></button></td>
<td>
  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-share"></i></button>
    <ul class="dropdown-menu dropdown-right">
      <li><a href="#" id="plainText">Plain Text</a></li>
      <li><a href="#" id="syncAD">Sync AD</a></li>
    </ul>
  </div>
</td>
