<div class="row-fluid" style="position: fixed; padding-top: 10px; padding-bottom: 5px; background-color: #fff;">
  <input class="input-large search-query" id="search_sidebar" placeholder="Search people and groups…" type="text" autocomplete="off" />
</div>

<div class="row-fluid" style="padding-top: 45px;">
  <div id="sidebar">
    <div id="sidebar-scrollable">
      <h5 id="highlighted_pins">Assigned</h5>
      <ul id="highlighted_pins" class="pins disable-text-select"></ul>
      <h5 id="pins">Bookmarks (<span id="bookmark-count"></span>)</h5>
      <ul id="pins" class="pins disable-text-select"></ul>
    </div>
  </div>
</div>
