<div class="row-fluid" style="position: fixed; padding-top: 10px; background-color: #fff;">
  <input class="input-large search-query" id="search_sidebar" placeholder="Search people and groups…" type="text" autocomplete="off" />
</div>

<div class="row-fluid" style="padding-top: 45px;">
  <div id="sidebar-container">
    <div id="sidebar">
      <ul id="highlighted_pins" class="pins disable-text-select"></ul>
      <ul id="pins" class="pins disable-text-select"></ul>
    </div>
  </div> <!-- #sidebar-container -->
</div>
