<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>This is a test e-mail, <%= @user.name %></h1>
    <p>
      You have successfully received it.
      Your username is: <%= @user.loginid %>.<br/>
    </p>
  </body>
</html>