<div class="modal" id="person_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Impersonate</h3>
  </div>
  <div class="modal-body">
    <form style="width: 100%;">
      <div style="width: 500px; margin: 0 auto;">
        <b>Login ID</b><br />
        <input type="text" class="text medium" id="loginid" /> <span id="loginid_status"></span><br />
        <br />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Never mind</a>
    <a href="#" class="btn btn-primary" id="save">Impersonate</a>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $("div#impersonate_dialog div.block_content input#loginid").on('keyup', function(el) {
    var loginid = $(this).val();
    
    $.get(Routes.api_person_exists_path(loginid), function(exists) {
      if(exists) {
        // Write 'Ok' and enable the impersonate button
        $("div#impersonate_dialog div.block_content span#loginid_status").html("<span style='color: #00aa00;'>Ok</span>");
        $("div.appriseInner div.aButtons button[value=ok]").attr("disabled", false).css("color", "#232D3D");
        application.impersonate_user = loginid;
      } else {
        // Write 'Not Found' and disable the impersonate button
        $("div#impersonate_dialog div.block_content span#loginid_status").html("<span style='color: #aa0000;'>Not found</span>");
        $("div.appriseInner div.aButtons button[value=ok]").attr("disabled", true).css("color", "#aaa");
        application.impersonate_user = null;
      }
    });
  });
});
</script>
