<div class="modal" id="impersonate_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Impersonate</h3>
  </div>
  <div class="modal-body">
    <form style="width: 100%;">
      <div style="width: 500px; margin: 0 auto;">
        <b>Login ID</b><br />
        <input type="text" class="text medium" id="loginid" /> <span id="loginid_status"></span><br />
        <br />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Never mind</a>
    <a href="#" class="btn btn-primary" id="save">Impersonate</a>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $("#impersonate_modal a.btn-primary").click(function() {
    window.location.href = Routes.admin_path(application.impersonate_user);
  });
  
  $("#impersonate_modal input#loginid").on('keyup', function(el) {
    var loginid = $(this).val();
    
    $.get(Routes.api_person_exists_path(loginid), function(exists) {
      if(exists) {
        // Write 'Ok' and enable the impersonate button
        $("#impersonate_modal span#loginid_status").html("<span style='color: #00aa00;'>Ok</span>");
        $(".modal-footer a.btn-primary").attr("disabled", false).removeClass("disabled");
        application.impersonate_user = loginid;
      } else {
        // Write 'Not Found' and disable the impersonate button
        $("#impersonate_modal span#loginid_status").html("<span style='color: #aa0000;'>Not found</span>");
        $(".modal-footer a.btn-primary").attr("disabled", true).addClass("disabled");
        application.impersonate_user = null;
      }
    });
  });
});
</script>
