<div id="impersonate_dialog">
  <div class="block popup_block">
  	<div class="block_head">
  		<div class="bheadl"></div>
  		<div class="bheadr"></div>
      
  		<h2>Impersonate</h2>
  	</div>		<!-- .block_head ends -->
  	<div class="block_content">
      <form>
        <b>Login ID to Impersonate</b><br />
        <input type="text" class="text medium" /><br />
        <br />
      </form>
    </div> <!-- .block_content ends -->
  </div> <!-- .block ends -->
</div> <!-- .entity_details -->

<!--<script type="text/javascript" src="<%= asset_path "details_modal.js" %>"></script>-->
