<tr class="fields">
  <td>
    <select id="column" class="input-medium">
      <option value="iam_affiliation">Affiliation</option>
      <option value="department">Department</option>
      <option value="affiliation">LDAP Affiliation</option>
      <option value="loginid">Login ID</option>
      <option value="major">Major</option>
      <option value="organization">Organization</option>
      <option value="pps_position_type">PPS Position Type</option>
      <option value="pps_unit">PPS Unit</option>
      <option value="title">Title</option>
      <option value="sis_level_code">SIS Level Code</option>
    </select>
  </td>
  <td>
    <select id="condition" class="input-mini">
      <option value="is">is</option>
      <option value="is not">is not</option>
    </select>
  </td>
  <td>
    <input id="value" size="15" type="text" value="" class="input-xlarge" autocomplete="off" />
  </td>
  <td>
    <button class="btn btn-danger" id="remove_group_rule" type="button">Remove</button>
  </td>
</tr>
