<tr class="fields">
  <td>
    <select id="column" class="input-medium">
      <option value="ou">Department</option>
      <option value="loginid">Login ID</option>
      <option value="title">Title</option>
      <option value="major">Major</option>
      <option value="affiliation">Affiliation</option>
    </select>
  </td>
  <td>
    <select id="condition" class="input-mini">
      <option value="is">is</option>
      <option value="is not">is not</option>
    </select>
  </td>
  <td>
    <input id="value" size="15" type="text" value="" class="input-xlarge" />
  </td>
  <td>
    <button class="btn btn-danger" id="remove_group_rule" type="button">Remove</button>
  </td>
</tr>
