<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3>Name</h3>
  <h5>Byline</h5>
</div>
<div class="modal-body">
  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
      <li><a href="#relations" data-toggle="tab">Relations</a></li>
      <li><a href="#roles" data-toggle="tab">Roles</a></li>
      <li id="activity"><a href="#activity-pane" data-toggle="tab">Activity</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="summary">
        <span style="display: inline-block;">
          <label for="first">Name</label>
          <input type="text" name="first" class="text small" /> <input type="text" name="last" class="text small" />
        </span>
        
        <br />
        
        <span style="display: inline-block;">
          <label for="loginid">Login ID</label>
          <input type="text" name="loginid" class="text input-small" />
        </span>
        <span style="display: inline-block;">
          <label for="email">E-Mail</label>
          <input type="text" name="email" class="text small" />
        </span>

        <br />

        <span style="display: inline-block;">
          <label for="phone">Phone</label>
          <input type="text" name="phone" class="text input-medium" />
        </span>
        <span style="display: inline-block;">
          <label for="address">Address</label>
          <input type="text" name="address" class="text input-xlarge" />
        </span>
      </div>
      
      <div class="tab-pane fade" id="relations">
        <label for="favorites">Favorites</label>
        <p>
          <input type="text" name="favorites" class="token_input" />
        </p>

        <label for="group_ownerships">Group Ownerships</label>
        <p>
          <input type="text" name="group_ownerships" class="token_input" />
        </p>

        <label for="group_operatorships">Group Operatorships</label>
        <p>
          <input type="text" name="group_operatorships" class="token_input" />
        </p>

        <label for="group_memberships">Group Memberships</label>
        <p>
          <input type="text" name="group_memberships" class="token_input" />
        </p>

        <label for="organization_associations">Organizational Units</label>
        <p>
          <input type="text" name="organization_associations" class="token_input" />
        </p>
      </div> <!-- #relations -->
      
      <div class="tab-pane fade" id="roles">
        <div id="role_assignments" />
        
        <div id="add_application" style="text-align: center;">
          <hr />
          
          <div class="input-append">
            <input type="text" class="span4" placeholder="Add another application ..." id="add_role_assignment_application_search" />
            <button type="button" class="btn" id="add_role_assignment_application_button">Add</button>
          </div>
        </div>
      </div> <!-- #roles -->
      
      <div class="tab-pane fade" id="activity-pane">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Activity</th><th>Occurred</th>
              </tr>
            </thead>
            <tbody id="activity_log">
            </tbody>
          </table>
          <div class="pagination" style="text-align: center;">
            <ul></ul>
          </div>
      </div> <!-- #activity -->

    </div>
    
  </div> <!-- /tabbable -->
</div>
<div class="modal-footer" style="text-align: center;">
  <div style="float: left;">
    <a href="#" class="btn span1" id="rescan">Rescan</a>
  </div>
  <% if( !model.isReadOnly()) { %>
    <div class="btn-group" data-toggle="buttons-radio">
      <button type="button" class="btn" id="status-active">Active</button>
      <button type="button" class="btn" id="status-inactive">Inactive</button>
    </div>
    
    <div style="float: right;">
      <button class="btn btn-primary span2" id="apply">Apply Changes</button>
    </div>
  <% } %>
</div>
