<%= javascript_include_tag params[:action] %>

<div class="block span-100">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>

		<h2>Administrate</h2>
	</div>		<!-- .block_head ends -->
	
	<div class="block_content">
	  
    <div id="accordion_0">
  		<% @ous.each do |ou| %>
        <h3><a href="#"><%= ou.name %></a></h3>
        <div>
          <div id="accordion_1">
        		<% ou.children.each do |o| %>
              <h4><a href="#"><%= o.name %></a></h4>
              <div>Second content</div>
        		<% end %>
          </div>
          
        </div>        
  		<% end %>
    </div>
    
    
	</div>		<!-- .block_content ends -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div>
