<%= javascript_include_tag params[:action] %>

<div class="block span-100">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>

		<h2>Administrate</h2>
	</div>		<!-- .block_head ends -->
	
	<div class="block_content">
	  
    <div id="accordion_0">
  		<% @ous.each do |ou| %>
        <h4><a href="#"><%= ou.name %></a></h4>
          <div id="accordion_1" class="alt-jui-theme">
          		<% ou.children.each do |o| %>
                <h5><a href="#" style="color: #fff;"><%= o.name %></a></h5>
                <div id="accordion_2">
                  <% o.members.sort_by { |x| x.last }.each do |person| %>
                    <h5><a href="#"><%= person.name %></a></h5>
                    <div>content</div>
                  <% end %>
                </div>
          		<% end %>
          </div>
  		<% end %>
    </div>
    
    
	</div>		<!-- .block_content ends -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div>
