<div style="float: right; clear: both; margin: 0.5em; margin-top: -1em;">
  <select class="styled">
  	<optgroup label="Group 1">
  		<option>View As ...</option>
  		<option>Employee One</option>
  		<option>Employee Two</option>
  	</optgroup>
  </select>
</div> <!-- block -->

<div style="clear: both;"></div>

<div class="block span-80 left">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>

		<h2>Manage</h2>
	</div>		<!-- .block_head ends -->
	
	<div class="block_content">
	  
	  <div class="card">
	    <div class="card_head">
	      <div class="bheadl"></div>
    		<div class="bheadr"></div>
    		
	      <h2>eVote</h2>
	    </div>
	    <div class="card_content">something something a space odyssey</div>
    	<div class="bendl"></div>
    	<div class="bendr"></div>
	  </div> <!-- card -->
    
    
    
    
	</div>		<!-- .block_content ends -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div>

<div class="block span-20 right">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>

		<ul class="tabs" style="float: none; margin-left: 35px;">
			<li><a href="#groups">Groups</a></li>
			<li><a href="#people">People</a></li>
		</ul>
	</div>		<!-- .block_head ends -->
	
	<div class="block_content">
	  <ul class="pins">
	    <li>Christopher Thielen</li>
	    <li>Scott Dyer</li>
	    <li>Jeremy Phillips</li>
	    <li>Carol McMasters-Stone</li>
	    <li>Jeff Trask</li>
	    <li>Jarold Wong</li>
	  </ul>
	</div>		<!-- .block_content ends -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div>
