<script type="text/javascript">
	$(function() {
		$( "#sortable1, #sortable2" ).sortable({
			connectWith: ".connectedSortable"
		}).disableSelection();
	});
</script>

<div class="block small left" style="background-color: inherit; border-bottom: none; background: none;">
	<div class="block">
		<div class="block_head">
			<div class="bheadl"></div>
			<div class="bheadr"></div>

			<h2>Managements</h2>
		</div>		<!-- .block_head ends -->
		<div class="block_content">
		
			<div id="group_whatever">
				<center><h2>Group Name</h2></center>
				<ul>
					<li><a href="#">Person Name</a></li>
				</ul>
			</div> <!-- group_whatever -->
		</div>		<!-- .block_content ends -->

		<div class="bendl"></div>
		<div class="bendr"></div>
	</div>		<!-- .block.small.left ends -->
	
	<div class="block">
		<div class="block_head">
			<div class="bheadl"></div>
			<div class="bheadr"></div>

			<h2>Assignments</h2>
		</div>		<!-- .block_head ends -->
		<div class="block_content">
		
		</div>		<!-- .block_content ends -->

		<div class="bendl"></div>
		<div class="bendr"></div>
	</div>		<!-- .block.small.left ends -->

</div>

<div class="block small right">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>

		<h2>Assignables</h2>
	</div>		<!-- .block_head ends -->



	<div class="block_content">
		<h2>Positions</h2>
		<ul id="sortable1" class="connectedSortable">
		</ul>
		
		<h2>People</h2>
		<ul id="sortable2" class="connectedSortable">
		</ul>
	</div>		<!-- .block_content ends -->

	<div class="bendl"></div>
	<div class="bendr"></div>

</div>		<!-- .block.small.right ends -->
	
