  <div class="jumbotron">
    <h1>Manage your technology.</h1>
    <p class="lead">Use Roles Management to assign people and groups to roles within your technical infrastructure.</p>
    <%= link_to 'Log in', applications_path, :class => 'btn btn-large btn-primary' %> <a href="http://it.dss.ucdavis.edu/services/roles-management/" class="btn btn-large btn-success">Request access</a>
  </div>
