  <div class="jumbotron">
    <h1>Automate onboarding.</h1>
    <p class="lead">Assign people and groups to roles within your business.</p>
    <%= link_to 'Log In', applications_path, :class => 'btn btn-large btn-primary' %> <a href="http://it.dss.ucdavis.edu/services/roles-management/" class="btn btn-large btn-success">Request Access</a>
  </div>
