<tr class="fields">
  <td>
    <select id="column">
      <option value="ou">Department</option>
      <option value="loginid">Login ID</option>
      <option value="title">Title</option>
      <option value="major">Major</option>
      <option value="affiliation">Affiliation</option>
    </select>
  </td>
  <td>
    <select id="condition">
      <option value="is">is</option>
      <option value="is not">is not</option>
    </select>
  </td>
  <td>
    <input id="value" size="15" type="text" value="" />
  </td>
  <td>
    <button class="btn btn-danger" id="remove_group_rule" type="button">Remove</button>
  </td>
</tr>
