<tr class="fields">
  <td>
    <select>
      <option value="ou">Department</option>
      <option value="loginid">Login ID</option>
      <option value="title">Title</option>
      <option value="major">Major</option>
      <option value="affiliation">Affiliation</option>
    </select>
  </td>
  <td>
    <select>
      <option value="is">is</option>
      <option value="is not">is not</option>
    </select>
  </td>
  <td>
    <input size="15" type="text" value="">
  </td>
  <td>
    <button class="btn btn-danger" id="group_rule_remove" type="button">Remove</button>
  </td>
</tr>
