<a href="#" class="entity-remove-link">
  <i class="icon-remove" rel="tooltip" title="Remove" />
</a>
<a href="#" class="entity-details-link">
  <i class="icon-search" rel="tooltip" title="See details" />
  <i class="icon-lock" rel="tooltip" title="Read only" />
</a>
<span id="name">name</span>
