<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3>Are you sure?</h3>
</div>
<div class="modal-body">
  <center>
    You are about to remove <b><span id="entity_name"></span></b> from <b><span id="application_name"></span> / <span id="role_name"></b></span>.
  </center>
</div>
<div class="modal-footer">
  <a href="" class="btn" data-dismiss="modal" style="float: left;">Cancel</a>
  <a href="" class="btn btn-danger" id="confirm">Remove <span id="entity_name"></span></a>
</div>
