.modal input#sympa_url {
  cursor: text;
}

.modal input#role-description {
  width: 275px;
}

.modal input#application-name {
  width: 120px;
}

.modal table#roles button {
  margin-bottom: 9px;
  margin-left: 3px;
}

.modal table#rules button {
  margin-bottom: 9px;
  margin-left: 3px;
}

/* Hide the 'x' (delete) button in application operatorship token inputs (it is an unsupported action) */
.modal#applicationShowModal ul.token-input-list-facebook li.calculated .token-input-delete-token-facebook {
  display: none;
}

#cards {
  -webkit-column-count: auto;
  -webkit-column-width: 335px;
  -webkit-column-gap: 10px;
  -moz-column-count: auto;
  -moz-column-width: 335px;
  -moz-column-gap: 10px;
  column-count: auto;
  column-gap: 10px;
  column-width: 335px;
}

.card {
  min-height: 25px;
  background-color: whiteSmoke;
  background-repeat: repeat-x;
  border-style: solid;
  border-color: #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  border-width: 1px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: #333;
  margin: 15px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  display: inline-block;
  width: 300px;

  .card-title {
    text-align: center;
    font-size: 16px;

    #application-name {
      max-width: 270px;
      margin: auto auto;
      padding-top: 4px;
      padding-bottom: 4px;
    }

    #application-owners {
      margin-top: 0px;
      margin-bottom: 0px;
      color: #777;
    }

    i {
      float: right;
      display: none;
      cursor: pointer;
      margin-top: 7px;
      margin-right: 0px;
    }

    &:hover {
      i {
        display: block;
      }
    }
  }

  .roles {
    min-height: 25px;
    background-color: white;
    background-repeat: repeat-x;
    border-style: solid;
    border-radius: 3px;
    border-color: #ccc;
    border-bottom-color: #b3b3b3;
    border-width: 1px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: #333;
    margin: 15px;
    margin-top: 10px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    
    .role {
      padding: 2px 4px 2px;
      color: #3A87AD;
      border: 1px solid #BCE8F1;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-color: #D9EDF7;
      margin: 3px 3px 5px;
      list-style-type: none;
      cursor: pointer;
      
      a {
        pointer-events: none;
      }

      a:hover {
        text-decoration: inherit;
        color: #08C;
        text-shadow: inherit;
      }
    }
  }
}

.hide-card {
  display: none !important;
}

input#search_applications {
  margin-bottom: 6px;
  margin-top: 3px;
  margin-left: 15px;
}

span#clear_search_applications {
  position: relative;
  left: -2em;
  display: none;
  
  i {
    opacity: 0.65;
    cursor: pointer;
  }
}

.card-search-bar {
  position: fixed;
  padding-top: 10px;
  padding-bottom: 2px;
  background-color: #fff;
}
