/*
*= require bootstrap
*= require bootstrap-overrides
*= require token-input-facebook
*= require token-input-overrides
*= require applications
*= require groups
*= require sidebar
*= require toastr
*= require_self
*/

.disable-text-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

i.loading {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: 3px 2px url('/assets/loading.gif') no-repeat;
  opacity: 0.4;
  filter: alpha(opacity = 40); /* IE8 and earlier */
  float: right;
}

input#search_applications {
  margin-bottom: 6px;
  margin-top: 3px;
  margin-left: 15px;
}

#main-body {
  margin-top: 43px;
}

ul.token-input-list-facebook {
  margin-bottom: 9px;
}

div#modal_container tr.fields button {
  margin-top: -8px;
  margin-left: 4px;
}

/* Twitter Bootstrap modifications (check here for problems when upgrading) */
/* TB assumes .tab-content>.tab-pane but we have .tab-content>form>.tab-pane in details modals */
.tab-content .tab-pane { display: none; }
.tab-content .active { display:block; }

/* Make modal wider and take as much height as possible */
.modal {
  width: 740px;
  margin-left: -370px;
  max-height: 90%;

  .modal-header {
    text-align: center;
  }

  .modal-body {
    max-height: 475px;
  }

  td input[type=checkbox] {
    margin: -14px 0px 0 15px;
  }

  span#csv-download {
    float: right;
    font-size: 75%;
    margin-top: -6px;
  }

  table tr td input,select {
    /*width: auto;*/
  }
}

.navbar-search .search-query {
  background-color: #33537B;
}

.navbar-search .search-query:focus,.navbar-search .search-query.focused {
  background-color: #33537B;
  color: #fff;
  text-shadow: none;
  border: 1px solid #151515;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.15);
  padding: 4px 9px;
}

div#entityShowModal #corner_summary {
  float: right;
  text-align: center;
  color: #666;
  font-size: 8pt;
  margin-right: 5px;
  margin-top: 5px;
}

div#entityShowModal #corner_summary #group_member_count {
  font-weight: bold;
  font-size: 20pt;
  color: #333;
}
