/*
*= require bootstrap
*= require bootstrap-overrides
*= require token-input-facebook
*= require token-input-overrides
*= require applications
*= require groups
*= require sidebar
*= require toastr
*= require_self
*/

.disable-text-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

i.loading {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: 3px 2px image-url("loading.gif") no-repeat;
  opacity: 0.4;
  filter: alpha(opacity = 40); /* IE8 and earlier */
  float: right;
}

#main-body {
  margin-top: 43px;
}

ul.token-input-list-facebook {
  margin-bottom: 9px;
}

div#modal_container tr.fields button {
  margin-top: -8px;
  margin-left: 4px;
}

/* Twitter Bootstrap modifications (check here for problems when upgrading) */
/* TB assumes .tab-content>.tab-pane but we have .tab-content>form>.tab-pane in details modals */
.tab-content .tab-pane { display: none; }
.tab-content .active { display:block; }

/* Make modal wider and take as much height as possible */
.modal {
  width: 740px;
  margin-left: -370px;
  max-height: 90%;

  .modal-header {
    text-align: center;
  }

  .modal-body {
    max-height: 475px;
  }

  td input[type=checkbox] {
    margin: -14px 0px 0 15px;
  }

  span#csv-download {
    float: right;
    font-size: 75%;
    margin-top: -6px;
  }
}

div#entityShowModal {
  #corner_summary {
    float: right;
    text-align: center;
    color: #666;
    font-size: 8pt;
    margin-right: 5px;
    margin-top: 5px;

    #group_member_count {
      font-weight: bold;
      font-size: 20pt;
      color: #333;
    }
  }

  .byline {
    font-weight: normal;
  }

  a.close {
    /* attempt to fix the slightly off-centering the close button causes our entity show modal's h1 */
    margin-left: -12px;
  }
}

div#entityShowModal #activity table {
  
}
