/*
*= require bootstrap
*= require bootstrap-overrides
*= require token-input-facebook
*= require applications
*= require groups
*= require_self
*/

input#search_applications {
  margin-bottom: 6px;
  margin-top: 3px;
  margin-left: 15px;
}

input#search_sidebar {
  margin-bottom: 6px;
  margin-top: 3px;
}

i.sidebar-details {
  float: right;
  margin-left: 15px;
  margin-top: 2px;
}

div.role {
  padding: 2px 4px 2px;
  color: #3A87AD;
  border: 1px solid #BCE8F1;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #D9EDF7;
  margin: 3px 3px 5px;
  list-style-type: none;
  cursor: pointer;

  a:hover {
    text-decoration: inherit;
    color: #08C;
    text-shadow: inherit;
    cursor: default;
  }
}

input#search_people_groups {
  width: 87%;
}

#main-body {
  margin-top: 55px;
}

.status-bar {
  min-width: 13%;
  height: 20px;
  position: fixed;
  bottom: 14px;
  left: 14px;
  z-index: 100000;
  box-shadow: 0px 0px 3px #7f7f7f;
  -webkit-box-shadow: 0px 0px 3px #7f7f7f;
  -moz-box-shadow: 0px 0px 3px #7f7f7f;
  display: none;
  padding-left: 24px;
  padding-right: 0.5em;
  background: #fff 3px 2px url('/assets/loading.gif') no-repeat;
  line-height: 20px;
  opacity: 0.7;
  filter: alpha(opacity = 70); /* IE8 and earlier */
}
.status-bar-error {
  background-image: none !important;
  background-color: #B50015 !important;
  color: #fff !important;
  padding-left: 0.5em;
}

ul.token-input-list-facebook {
  margin-bottom: 9px;
}

div#modal_container tr.fields button {
  margin-top: -8px;
  margin-left: 4px;
}

/* Twitter Bootstrap modifications (check here for problems when upgrading) */
/* TB assumes .tab-content>.tab-pane but we have .tab-content>form>.tab-pane in details modals */
.tab-content .tab-pane { display: none; }
.tab-content .active { display:block; }

/* Make modal wider and take as much height as possible */
.modal {
  width: 840px;
  margin-left: -420px;
  max-height: 90%;

  .modal-header {
    text-align: center;
  }

  .modal-body {
    max-height: 475px;
  }

  td input[type=checkbox] {
    margin: -14px 0px 0 15px;
  }

  span#csv-download {
    float: right;
    font-size: 75%;
    margin-top: -6px;
  }

  table tr td input,select {
    width: auto;
  }
}

/* UCD colors for the navbar */
.navbar-inner {
  background-image: -webkit-linear-gradient(bottom, #123764, #33537B);
  background-image: -moz-linear-gradient(center bottom, rgb(18,55,100), rgb(51,83,123));
  background-image: -o-linear-gradient(bottom, #123764, #33537B);
  background-image: linear-gradient(bottom, #123764, #33537B);
}
.navbar .nav>li>a {color: #EFEFEF;}
.navbar .nav .active > a, .navbar .nav .active > a:hover {background-color: #183C68;}

.navbar-search .search-query {
  background-color: #33537B;
}

.navbar-search .search-query:focus,.navbar-search .search-query.focused {
  background-color: #33537B;
  color: #fff;
  text-shadow: none;
  border: 1px solid #151515;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.15);
  padding: 4px 9px;
}

#highlighted_results>li {
  margin-bottom: 6px;
}
#highlighted_results>li[data-pin-type="group"] {
  box-shadow: #468847 0px 0px 5px;
  border: 1px solid #468847;
}
#highlighted_results>li[data-pin-type="person"] {
  box-shadow: #3A87AD 0px 0px 5px;
  border: 1px solid #3A87AD;
}

div#entityShowModal #corner_summary {
  float: right;
  text-align: center;
  color: #666;
  font-size: 8pt;
  margin-right: 5px;
  margin-top: 5px;
}

div#entityShowModal #corner_summary #group_member_count {
  font-weight: bold;
  font-size: 20pt;
  color: #333;
}
