/*
*= require_tree .
*= require_self
*/

.card {
  min-height: 25px;
  background-color: whiteSmoke;
  background-repeat: repeat-x;
  border-style: solid;
  border-color: #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  border-width: 1px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: #333;
  float: left;
  margin: 15px;
  margin-top: 0px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  text-shadow: rgba(255, 255, 255, 0.746094) 0px 1px 1px;
}
.card-title {
  text-align: center;
  font-size: 16px;
}
.card-title i {
  float: right;
  display: none;
  cursor: pointer;
  margin-top: -20px;
  margin-right: 16px;
}

ul.pins {
  margin-left: 0px;
  list-style-type: none;
}

ul.pins li {
  padding: 2px 4px 2px;
  color: #3A87AD;
  border: 1px solid #BCE8F1;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #D9EDF7;
  margin: 3px;
  /*cursor: move;*/
}

ul.pins li i {
  float: right;
  display: none;
  cursor: pointer;
  margin-top: 2px;
  margin-left: 6px;
}

ul.pins li.group {
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  color: #468847;
}

li.ui-draggable-dragging.group {
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  color: #468847;
}

div.pins {
  min-height: 25px;
  background-color: white;
  background-repeat: repeat-x;
  border-style: solid;
  border-radius: 4px;
  border-color: #CCC;
  border-bottom-color: #B3B3B3;
  border-width: 1px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: #333;
  margin: 15px;
  margin-top: 10px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  text-shadow: rgba(255, 255, 255, 0.746094) 0px 1px 1px;
}

li.ui-draggable-dragging {
  padding: 2px 4px 2px;
  color: #3A87AD;
  border: 1px solid #BCE8F1;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #D9EDF7;
  margin: 3px;
  list-style-type: none;
  cursor: move;
}

div.pin {
  padding: 2px 4px 2px;
  color: #3A87AD;
  border: 1px solid #BCE8F1;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #D9EDF7;
  margin: 3px 3px 5px;
  list-style-type: none;
}

div.pin a:hover {
  text-decoration: inherit;
  color: #08C;
  text-shadow: inherit;
  cursor: default;
}

input#search_people_groups {
  width: 87%;
}

#main-body {
  margin-top: 55px;
}

.status_bar {
  width: 13%;
  height: 20px;
  position: fixed;
  bottom: 14px;
  left: 14px;
  z-index: 100000;
  box-shadow: 0px 0px 3px #7f7f7f;
  -webkit-box-shadow: 0px 0px 3px #7f7f7f;
  -moz-box-shadow: 0px 0px 3px #7f7f7f;
  display: none;
  padding-left: 24px;
  background: #fff 3px 2px url('/assets/loading.gif') no-repeat;
  opacity: 0.7;
  filter: alpha(opacity = 70); /* IE8 and earlier */
}

ul.token-input-list-facebook {
  margin-bottom: 9px;
}

div#modal_container tr.fields button {
  margin-top: -8px;
  margin-left: 4px;
}

.modal td input[type=checkbox] {
  margin: -8px 0px 0 15px;
}

/* Twitter Bootstrap modifications (check here for problems when upgrading) */
/* TB assumes .tab-content>.tab-pane but we have .tab-content>form>.tab-pane in details modals */
.tab-content .tab-pane {display: none;}
.tab-content .active {display:block;}

/* Modal dialog is too narrow for our uses */
.modal {
  width: 760px;
  margin-left: -380px;
}

/* UCD colors for the navbar */
.navbar-inner {
  background-image: -webkit-linear-gradient(bottom, #123764, #33537B);
  background-image: -o-linear-gradient(bottom, #123764, #33537B);
  background-image: linear-gradient(bottom, #123764, #33537B);
}
.navbar .nav>li>a {color: #EFEFEF;}
.navbar .nav .active > a, .navbar .nav .active > a:hover {background-color: #183C68;}

.navbar-search .search-query {
  background-color: #33537B;
}

.navbar-search .search-query:focus,.navbar-search .search-query.focused {
  background-color: #33537B;
  color: #fff;
  text-shadow: none;
  border: 1px solid #151515;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.15);
  padding: 4px 9px;
}

.modal table tr td input,select {
  width: auto;
}

#highlighted_results>li {
  margin-bottom: 6px;
}
#highlighted_results>li[data-pin-type="group"] {
  box-shadow: #468847 0px 0px 5px;
  border: 1px solid #468847;
}
#highlighted_results>li[data-pin-type="person"] {
  box-shadow: #3A87AD 0px 0px 5px;
  border: 1px solid #3A87AD;
}
