ul.token-input-list-facebook {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  width: 530px;
  border-color: #ccc;
  border-radius: 4px;
  padding: 2px;
  
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

li.token-input-token-facebook {
  font-size: 14px !important;
  
  p {
    padding-left: 3px;
    padding-right: 3px;
  }
  
  .token-input-delete-token-facebook {
    margin-right: 3px;
  }
}

div.token-input-dropdown-facebook {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
}
