ul.token-input-list-facebook {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  width: 530px;
}

li.token-input-token-facebook {
  font-size: 14px !important;
}

div.token-input-dropdown-facebook {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
}
