<div class="span9">
  <input class="input-xxlarge search-query" type="text" id="search_applications" placeholder="Search applications…" autocomplete="off" />

  <div id="cards"></div>
</div>

<div class="span3" id="sidebar">
  <input class="input-large search-query" id="search_entities" placeholder="Search people and groups…" type="text" autocomplete="off" />

  <ul id="pins" class="pins"></ul>
</div>
