<div class="row-fluid">
  <div class="span9" id="left">

    <form class="form-search">
      <input class="input-xxlarge search-query" type="text" id="search_applications" placeholder="Search applications…" autocomplete="off" />
    </form>

    <div id="cards">
      <div id="cards-left" class="span4"></div>
      <div id="cards-right" class="span4"></div>
    </div>

  </div> <!-- /.span9 -->
  <div class="span3" id="right">

    <form class="form-search">
      <input id="search_entities" placeholder="Search people and groups…" type="text" autocomplete="off" class="input-large search-query">
    </form>

    <ul class="pins" id="entity_list"></ul>
  </div> <!-- /.span3 -->
</div>
