<div class="card span4" data-application-id="{{= item.id }}" data-uids="{{= item.uids }}">
  <div class="card-title" rel="tooltip" title="{{= item.description }}"><i class="icon-search" id="entity_details" rel="tooltip" title="View details"></i><h3>{{= item.name }}</h3></div>
  <div class="card-content">
    {{ if(item.roles.length > 1) { }}
      <div class="pins">
        {{ _.each(item.roles, function(role) { }}
          {{ if(role.token != "access") { }}
          <div class="pin" data-role-id="{{= role.id }}" data-uids="{{= role.uids }}" rel="tooltip" title="{{= role.description }}"><a href="#" rel="tooltip" title="{{= role.description }}">{{= role.descriptor }}</a></div>
          {{ } }}
        {{ }) }}
      </div>
    {{ } }}
  </div>
</div>
