<div class="card-title" rel="tooltip" title="tooltip"><a href="#" class="application-link"><i class="icon-search details" rel="tooltip" title="View details" /></a><h3>name</h3></div>
<div class="card-content">
  <div class="roles"></div>
</div>
