<div class="card span4">
  <div class="card-title" rel="tooltip" title="tooltip"><i class="icon-search" id="entity_details" rel="tooltip" title="View details"></i><h3>name</h3></div>
  <div class="card-content">
    <div class="pins">
      <div class="pin" data-role-id="role.id" rel="tooltip" title="description"><a href="#" rel="tooltip" title="description">descriptor</a></div>
    </div>
  </div>
</div>
