<td><input type="text" name="token" size="8" /></td>
<td><input type="checkbox" name="default" /></td>
<td><input type="text" name="descriptor" size="13" id="application-descriptor" /></td>
<td><input type="text" name="description" size="17" id="application-description" /></td>
<td><button class="btn btn-danger" id="remove_role">Remove</button></td>
<td><button class="btn" id="sympa_url"><i class="icon-bookmark"></i></button></td>
