<td><input type="text" name="token" size="8" /></td>
<td><input type="checkbox" name="default" /></td>
<td><input type="text" name="descriptor" size="13" id="application-descriptor" /></td>
<td><input type="text" name="description" size="20" id="application-description" /></td>
<td>lnk_rm_flds "Remove"</td>
