<td><input type="text" name="name" size="11" /></td>
<td><input type="text" name="token" size="5" /></td>
<td><input type="text" name="description" size="13" id="role-description" /></td>
<td><button class="btn btn-danger" id="remove_role">Remove</button></td>
<td><button class="btn" id="sympa_url"><i class="icon-bookmark"></i></button></td>
