<div class="modal" id="details_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>name</h3>
  </div>
  <div class="modal-body">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
        <li><a href="#roles" data-toggle="tab">Roles</a></li>
        <li><a href="#ad" data-toggle="tab">Active Directory</a></li>
      </ul>
      <div class="tab-content">
        <form>

        <fieldset class="tab-pane active" id="summary">
          <label>Name</label>
          <input type="text" name="name" />
          <label>Description</label>
          <input type="text" name="description" />
          <label>Owners</label>
          <input type="text" name="owners" class="token_input" />
          <label>Sympa URL:</label>
          <input id="sympa_url" type="text" style="width: 99%" value="sympa_path" disabled />
          <span id="csv-download"><a href="application_path(@application, :format => 'csv')">Download as CSV</a></span>
        </fieldset>
        <fieldset class="tab-pane" id="roles">
          <table id="roles">
            <tr>
              <th>Token</th>
              <th>Default</th>
              <th>Descriptor</th>
              <th>Description</th>
              <th></th>
            </tr>
          </table>
          <p><button class="btn">Add Role</button></p>
        </fieldset>
        <fieldset class="tab-pane" id="ad">
          @application.roles.each_with_index do |role, i|
            f.fields_for :roles, role, :child_index => i do |builder|
              render "role_ad_fields", :f => builder
            end
          end
          <p>
            <small>The group name is appended after the base AD path configured by the administrator.</small>
          </p>
        </fieldset>
        </form>
      </div>
    </div> <!-- /tabbable -->
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-danger" style="float: left;" id="delete">Delete Application</a>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary" id="apply">Apply</a>
  </div>
</div>
