<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>AD Sync Report for <%= Time.now.strftime("%A %B %d, %Y") %></h3>
    <pre><%= @log %></pre>
  </body>
</html>