<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>A Sync Script has failed</h3>
    <pre><%= @job %></pre>
  </body>
</html>
