<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
	<title>Roles Management</title>

  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "site" %>
</head>
<body>

  <div class="container-narrow">
    <div class="masthead">
      <ul class="nav nav-pills pull-right">
        <li class="active"><%= link_to 'Welcome', welcome_path %></li>
        <li><a href="http://it.dss.ucdavis.edu/services/roles-management/">FAQ</a></li>
        <li><a href="http://it.dss.ucdavis.edu/services/roles-management/">Contact</a></li>
      </ul>
      <h3 class="muted">Roles Management</h3>
    </div>

    <hr />

    <%= yield %>

    <hr />

  </div>

</body>
</html>
